<div class="agent-container">
<div class="panel panel-primary chat-list">
  <div class="panel-heading">
    Active Chats
  </div>
  <div class="panel-body">
    <ul>
      <li *ngFor="let chat of activeChats" style="list-style-type:none;">
        <span (click)="currentChat=chat">{{chat.user}}</span>
      </li>
    </ul>
  </div>
</div>

<div *ngIf="currentChat" class="panel panel-primary custom-panel" id="agentChatBody">
  <div class="panel-heading text-center">{{currentChat.user}}</div>
  <div class="panel-body" style="height:87%;overflow:auto;">
  <ul>
    <li style="list-style-type:none;">
      <span *ngFor="let message of messages"><span *ngIf="message.id==currentChat?.id">
        <div *ngIf="message.sender=='agent'" class="agent"><span>{{message.content}}</span></div>
        <div *ngIf="message.sender=='client'" class="client"><span>{{message.content}}</span></div>
        <div class="clear"></div>
      </span></span>
    </li>
  </ul>
</div>
<div class="panel-footer">
  <input [(ngModel)]="agentMsg" (keyup.enter)="agentMessage()" class="form-control agent-input" type="text" id="agentMsg" />
</div>
</div>
</div>
