<div class="agent-container">
<div class="panel panel-primary chat-list">
  <div class="panel-heading activeRadius">Active Chats</div>
  <div class="panel-body active-sidebar">
      <div *ngFor="let chat of activeChats" (click)="getInfo(chat);" class="user-div">
        <h6 style="margin:0;">{{chat.user}}</h6>
      </div>
  </div>
</div>

<div *ngIf="currentChat" class="panel panel-primary custom-panel" id="agentChatBody">
  <div class="panel-heading text-center chatRadius">{{currentChat.user}}</div>
  <div class="panel-body full-length">
  <ul>
    <li style="list-style-type:none;">
      <span *ngFor="let message of messages"><span *ngIf="message.dbId==currentChat?.dbId">
        <div *ngIf="message.sender=='agent'" class="agent"><span>{{message.content}}</span></div>
        <div *ngIf="message.sender=='client'" class="client"><span>{{message.content}}</span></div>
        <div class="clear"></div>
      </span></span>
    </li>
  </ul>
</div>
<div class="panel-footer">
  <input [(ngModel)]="agentMsg" (keyup.enter)="agentMessage()" autofocus="" class="form-control agent-input" type="text" id="agentMsg" />
</div>
</div>
</div>
