<div class="container">

  <nav class="navbar navbar-dark bg-primary">
    <div class="nav navbar-nav">
      <a routerLink="/" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="fa fa-home"></i> Home
      </a>
      <a routerLink="/about" class="nav-item nav-link" routerLinkActive="active">
        <i class="fa fa-info-circle"></i> About
      </a>
      <a routerLink="/agent" class="nav-item nav-link" routerLinkActive="active">
        <i class="fa fa-info-circle"></i> Agent
      </a>
    </div>
  </nav>

  <router-outlet></router-outlet>

</div>

<div class="chat">
  <button (click)="namePrompt()" id="chatBtn" class="btn btn-lg btn-primary open-chat-btn"><i class="fa fa-comments fa-3x adj-icon" aria-hidden="true"></i></button>
  <div id="name" class="name-prompt" style="display:none;">
    <h3>What is your name?</h3>
    <input (keyup.enter)="openChat()" class="form-control" autofocus="" type="text" id="userName" [(ngModel)]="userName" />
  </div>
  <div id="chatModal" style="display:none;">
    <ul>
      <li style="list-style-type:none;">
        <div class="agent"><span>Hi {{userName}}! How can I help you?</span></div><div class="clear"></div>
        <span *ngFor="let message of messages"><span *ngIf="mySession(message.user,message.id)">
          <div *ngIf="message.sender=='agent'" class="agent"><span>{{message.content}}</span></div>
          <div *ngIf="message.sender=='client'" class="client"><span>{{message.content}}</span></div>
          <div class="clear"></div>
        </span></span>
      </li>
    </ul>
    <input [(ngModel)]="message" (keyup.enter)="sendMessage()" class="form-control chat-input" type="text" id="chatMsg" />
    <!--<input (keyup.enter)="sendChat()" class="form-control chat-input" type="text" id="chatMsg" [(ngModel)]="chatMsg" />-->
  </div>
</div>
