html,
body, .container {
    height: 100%;
    overflow:hidden;
}
.icon-adjust:hover,.comment-min:hover{
  cursor: pointer;
  font-size: 1.2em;
}
.comment-min{
  float:right;
}
.modal-title-style{
  color:white;
}
.logout:hover{
  cursor: pointer;
}
.subtext{
  font-weight: bold;
  font-size: 0.8em;
}
.chat {
    position:fixed;
    bottom:20px;
    right:30px;
    z-index:1000;
    max-height:50%;
    overflow-x:hidden;
    overflow-y: auto;
    width:30%;
}
.panel-adjust{
  margin-bottom:0;
}
.open-chat-btn{
  border-radius:100%;
  height:80px;
  width:80px;
  float:right;
}
.adj-icon{
  margin-left:-15px;
  margin-top:-7px;
}
.chat-input{
  position:fixed;
  bottom:5px;
  right:40px;
  width:27.5%;
}
.clear {
  clear: both;
  height:20px;
}
.client {
	position:relative;
	padding:10px 20px;
	color:white;
	background:#0B93F6;
	border-radius:25px;
  max-width: 80%;
	float: right;
  margin-right:20px;
}

.client:before {
	content:"";
	position:absolute;
	z-index:0;
	bottom:-2px;
	right:-7px;
	height:20px;
	border-right:20px solid #0B93F6;
	border-bottom-left-radius: 16px 14px;
	-webkit-transform:translate(0, -2px);
}

.client:after {
	content:"";
	position:absolute;
	z-index:1;
	bottom:-2px;
	right:-56px;
	width:26px;
	height:20px;
	background:white;
	border-bottom-left-radius: 10px;
	-webkit-transform:translate(-30px, -2px);
}

.agent {
	position:relative;
	padding:10px 20px;
	background:#E5E5EA;
	border-radius:25px;
	color: black;
  max-width: 80%;
  float: left;
}

.agent:before {
	content:"";
	position:absolute;
	z-index:2;
	bottom:-2px;
	left:-7px;
	height:20px;
	border-left:20px solid #E5E5EA;
	border-bottom-right-radius: 16px 14px;
	-webkit-transform:translate(0, -2px);
}

.agent:after {
	content:"";
	position:absolute;
	z-index:3;
	bottom:-2px;
	left:4px;
	width:26px;
	height:20px;
	background:white;
	border-bottom-right-radius: 10px;
	-webkit-transform:translate(-30px, -2px);
}
.custom-panel{
  width:80%;
  float:right;
  height:87.5%;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-left: none;
}
.chatRadius{
  border-top-left-radius: 0;
}
.activeRadius{
  border-top-right-radius: 0;
}
.chat-list{
  width:20%;
  float:left;
  height:87.5%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.full-length{
  height:85.5%;
  overflow:auto;
  border-bottom: 1px solid 	#428bca;
}
.active-sidebar{
  height:93.6%;
  overflow:auto;
  background:#EDF0F5;
  padding:0;
}
.agent-container{
  height:100%;
}
.user-div{
  width:100%;
  padding:15px;
}.user-div:hover,.user-div.active{
  background:#CBD3E1;
}
.panel-footer{
  background:#EDF0F5;
}

.agent,.client {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
