<div class="card">
  <h4 class="card-header">About C2B Chat</h4>
  <div class="card-block">
    <div class="col-md-4">
      <ul>
        <li><b>Author:</b> <a href="https://github.com/sschapma" target="_blank">Sam Chapman</a></li>
        <li><b>GitHub:</b> <a href="https://github.com/sschapma/c2b-chat" target="_blank">project repository</a></li>
        <li><b>Tools used:</b></li>
        <ul>
          <li><a href="http://www.mongoosejs.com" target="_blank"><b>M</b>ongoose.js</a> (<a href="https://www.mongodb.com" target="_blank">MongoDB</a>)</li>
          <li><a href="http://www.expressjs.com" target="_blank"><b>E</b>xpress.js</a></li>
          <li><a href="https://www.angular.io" target="_blank"><b>A</b>ngular 2</a></li>
          <li><a href="https://www.nodejs.org" target="_blank"><b>N</b>ode.js</a></li>
          <li><a href="http://socket.io" target="_blank">Socket IO</a></li>
          <li><a href="http://auth0.com" target="_blank">Auth0</a></li>
          <li><a href="https://cli.angular.io" target="_blank">Angular CLI</a></li>
          <li><a href="http://www.getbootstrap.com" target="_blank">Bootstrap</a></li>
          <li><a href="http://www.fontawesome.io" target="_blank">Font Awesome</a></li>
        </ul>
      </ul>
    </div>
    <div class="col-md-8">
      <b>Client Side</b>
      If an agent is available, clicking on the chat icon in the bottom right corner will open up a prompt
      for the user's name, followed by a small chat window. At this point, a customer can chat with an agent.
      If no agent is available, a short form will pop up so the customer can send the company an email.
      In case there is an issue with the connection, the project sets a localStorage token to continue the
      chat on a page refresh. (Chats are backed up by the database.)<br />
      <div class="subtext text-center">You will need to update the email information on the server to your personal email.</div><br />

      <b>Agent Side</b>
      Upon loading the agent page, the Auth0 lock modal will pop up for authorization. After authorizing,
      the agent page will connect with the server to set their status as online, get all open chats from
      the database, and connect to socket.io. A list of all open chats appears on the left side (with a
      green dot indicating a chat awaiting reponse). Clicking the user name will display the chat window.
      When the chat is complete, it can be deleted by clicking the 'X' in the top right corner.<br />
      <div class="subtext text-center">You will need to sign up for a free Auth0 account and add the secret and client-id to the server as well as the domain and clientId to auth.service.ts<br />
        For now, use id: 'sam@sam.com' pw: 'sam' to login</div>
    </div>
  </div>
</div>

<chat></chat>
